/* Base styles */
body {
    background-color: #121212;
    color: #e0e0e0;
	font-family: "Noto Sans";
	margin: 0;
    padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

/* Links */
a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    color: #3700b3;
}

/* Buttons */
button {
    background-color: #333333;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #444444;
}

/* Inputs and Textareas */
input, textarea {
    background-color: #333333;
    color: #e0e0e0;
    border: 1px solid #444444;
    padding: 10px;
}

input::placeholder, textarea::placeholder {
    color: #888888;
}


/* Navbar */
nav {
    background-color: #1f1f1f;
    padding: 10px 20px;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #bb86fc;
}